

<!-- if statement to display the form if the button is clicked,
otherwise to show the button -->
{{#if newAnswerForm}}
<form>
	<div class="form-group">
		<div class="">
			<label for="author"></label>
			{{input placeholder="Michael" class="form-control" value=author id="author"}}
		</div>
		<div class="ans-content">
			<label for="content"></label>
			{{textarea  rows="8" cols="50" placeholder="Answer" class="form-control" value=content id="content"}}
		</div>
	</div>
	<button type="button" {{action 'saveAnswer'}} class="btn btn-success" name="button">Save</button>
</form>
{{else}}
<div class="qtn-button">
	<button type="button" {{action 'newAnswer'}} class="btn btn-primary" name="button">Post answer</button>
</div>
{{/if}}
