<div class="container">
	<!-- question details -->
	{{question-detail question=model destroyQuestion="destroyQuestion"}}
	<!-- updating question -->
	{{update-question question=model update="update"}}
	<!-- adding a new answer -->
	{{new-answer question=model saveAnswer="saveAnswer"}}
	<a class="likes_up" href="#" {{action "voteUp" this}}> up</a>
                        <div class="likes_numero">{{votes}}</div>
                        <a class="likes_down" href="#" {{action "voteDown" this }}></span> down</a>
</div>
